# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Editors
.vscode/
.idea/
.vscodium/
*~

# Pytest
tests.json

# sphinx

_build/
ybuild

# gradescope
*.zip
